{% if layout == 'grid' or layout == '' or layout is none %}
    <div class="grid">
        {% for art in art | batch(3) %}
            <div class="columns">
            {% for art in art %}
                <div class="column is-one-third">
                    <div class="grid-art-wrapper">
                        <a href="/art/{{ art.id }}">
                            <div class="grid-art-title">{{ art.title }}</div>
                        </a>
                        {% for image_url in art.image_url if image_url %}
                            <a class="fullscreen-mode" data-id="{{ art.id }}" data-title="{{ art.title }}" data-artist="{{ art.artist_name }}" data-image-url="/static/images/{{ image_url }}">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-src="/static/images/{{ image_url }}" class="image lozad">
                            </a>
                        {% else %}
                            <div class="has-text-centered">No image is attached to this artwork</div>
                        {% endfor %}
                        <div class="grid-art-by">
                            <h3 class="subtitle">by <a href='/search?q=artist:"{{ art.artist_name }}"'>{{ art.artist_name }}</a> [<a href="{{ art.artist_website }}">Web</a>]</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% elif layout == 'masonry' %}
    <div class="masonry">
        Not implemented yet
    </div>
{% endif %}

{% include 'fullscreen-mode.html' %}
