{% if layout == 'default' or layout == '' or layout is none %}
    {% for art in art %}
        {% include 'art-item.html' %}
    {% endfor %}
{% elif layout == 'grid' %}
    <div class="grid">
        {% for art in art | batch(3) %}
            <div class="columns">
            {% for art in art %}
                <div class="column is-one-third">
                    <div class="grid-art-wrapper">
                        <a href="/art/{{ art.id }}">
                            <div class="grid-art-title">{{ art.title }}</div>
                        </a>
                        {% for image_url in art.image_url %}
                            <a class="fullscreen-mode" data-title="{{ art.title }}" data-image-url="/static/images/{{ image_url }}">
                                <img src="/static/images/{{ image_url }}" class="image">
                            </a>
                        {% endfor %}
                        <div class="grid-art-by">
                            <h3 class="subtitle">by <a href='/search?q=artist:"{{ art.artist_name }}"'>{{ art.artist_name }}</a> [<a href="{{ art.artist_website }}">Web</a>]</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% elif layout == 'masonry' %}
    <div class="masonry">
        Not implemented yet
    </div>
{% endif %}

{% include 'fullscreen-mode.html' %}