<div class="modal" id="add-new-art-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <form action="/art/add" enctype="multipart/form-data" method="POST">
                <label class="label">Title</label>
                <input type="text" name="title" class="input">
                
                <label class="label">Image</label>
                <div id="images-add_art">
                    <div class="image-add_art">
                        <div class="radio-box active image-option-add_art">
                            <h4>Upload from URL</h4>
                            <input type="text" name="image-from-url" class="input">
                            <input type="hidden" name="local-image" value="false">
                        </div>
                        <div class="radio-box inactive image-option-add_art">
                            <h4>Upload from file</h4>
                            <input type="file" name="image-from-file" class="input" disabled>
                            <input type="hidden" name="local-image" value="true" disabled>
                        </div>
                    </div>
                </div>
                <button type="button" id="add-another-image-add_art" class="button top-bottom-margin-1em">Add another image</button>

                <label class="label">Artist</label>
                <div class="radio-box active" id="artist-option-1">
                    <h4>Select Existing Artist</h4>
                    <span class="select">
                        <select name="artist-id">
                            {% raw %}
                            <option v-for="artist in artists" :value="artist.id">
                                {{ artist.name }}
                            </option>
                            {% endraw %}
                        </select>
                    </span>
                    <input type="hidden" name="existing-artist" value="true">
                </div>
                <div class="radio-box inactive" id="artist-option-2">
                    <h4>Add new artist</h4>
                    <label for="artist-name" class="label">Artist name</label>
                    <input type="text" name="artist-name" class="input" disabled>
                    <label for="artist-website" class="label">Artist website</label>
                    <input type="text" name="artist-website" class="input" disabled>
                    <input type="hidden" name="existing-artist" value="false" disabled>
                </div>

                <label class="label">Source</label>
                <input type="text" name="source" class="input">
                
                <label class="label">Tags</label>
                <select name="tags" class="input" multiple>
                    {% raw %}
                    <option v-for="tag in tags" :value="tag.id">
                        {{ tag.name }}
                    </option>
                    {% endraw %}
                </select>

                <br><br>

                <button class="button" type="submit">Add Art</button>       
            </form>
        </div>
    </div>
    <button class="modal-close"></button>
</div>